<div class="contents row">
  <div class="container">
    <h2>新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :affiliation, "所属コード(店番)" %><br />
        <%= f.text_field :affiliation %>
      </div>

      <div class="field">
        <%= f.label :name, "名前（店名）" %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
  </div>
</div>
