<div class="contents row">
  <div class="container">
    <%= form_with model: @item, local: true do |f| %>
      <div class="field">
        <%= f.label :image, "商品展開写真" %><br />
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <%= f.label :category_id, "カテゴリー" %><br />
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>

      <div class="field">
        <%= f.label :title, "展開商品名" %><br />
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :explanation, "展開説明" %><br />
        <%= f.text_area :explanation %>
      </div>

      <div class="actions">
         <%= f.submit "保存する", class: :form__btn  %>
      </div>
   <% end %>
      <div class="header-btn-sign-ups">
       <%= link_to '戻る', root_path, class: "sign-ups" %>
       </div>
  </div>
</div>