<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= link_to @item.title, item_path, class: :card__title %>
      </p>
      <%= link_to "by " + @item.user.name, user_path(@item.user_id), class: :prototype__user %>
       <% if user_signed_in? && current_user.id ==  @item.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する",edit_prototype_path(@item.id), method: :get , class: :prototype__btn %>
          <%= link_to "削除する", prototype_path(@item.id), method: :delete, class: :prototype__btn %>
        </div>
       <% end %>
      <div class="prototype__image">
        <%= image_tag @item.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @item.title %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @item.explanation %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
